[Unit]
Description=dbusevents


[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/dbusevents --mode event

[Install]
WantedBy=default.target
# WantedBy=daemon.target
